<center>
<table width=90%>
<tr>
<td align=center>
<a href="../index.html"><font size=-1><b><%= link_to "Back to Ext-algebra page", root_path %></b></font></td>
<td align=center><font size=-1><b><%= link_to "Using the drawing tool", drawing_path %></b></font></td>
<td align=center><font size=-1><b><%= link_to "Examples", examples_path %></b></font></td>
<td align=center><font size=-1><b><%= link_to "Start over (clear applet and results)", compute_path %></b></font></td>
</table>
</center>
<h2>The Ext-algebra of a special biserial algebra of finite representation type</h2>
<center>
<canvas class="qdraw" style="position: relative" width="640" height="480"></canvas>
</center>
<br/>
<br/>
  <!--div id="buttons">
    <input type="radio" id="btn-draw" name="radio"><label for="btn-draw">Draw</label>
    <input type="radio" id="btn-select-move" name="radio" checked="checked"><label for="btn-select-move">Select/Move</label>
    <input type="radio" id="btn-relations" name="radio"><label for="btn-relations">Relations</label>
	  <button id="btn-delete">Delete</button>
	  <button id="btn-undo">Undo</button>
	  <button id="btn-redo">Redo</button>
  </div-->
